<form class="box" action="/playlist/{{playlist._id}}/updatetrack/{{track._id}}" method="POST">
  <label>Track Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title" value="{{track.title}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Artist" name="artist" value="{{track.artist}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter duration" name="duration" value="{{track.duration}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Track</button>
</form>