<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Track</th>
      <th>Artist</th>
      <th>Duration</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each playlist.tracks}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{artist}}
      </td>
      <td>
        {{duration}}
      </td>
      <td>
        <a href="/playlist/{{../playlist._id}}/deletetrack/{{_id}}" class="button">
          {{>icons/delete}}
        </a>
      </td>
      <td>
        <a href="/playlist/{{../playlist._id}}/edittrack/{{_id}}" class="button">
          {{>icons/edit}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>